{% extends 'app/base.html' %} {% block content %}

<div class="container">
    <h1>Distance Calculator</h1>
    <div class="row">
        <div class="col-lg-6">
            {% if apikey != "" %}
                <p>API Key: {{ apikey }}</p>
                <a href="{% url 'app:removeAPIKEY' %}"><button class="btn btn-default btn-xs">
                    Remove Key
                </button></a>
            {% else %}
                <p>Enter your Google Maps API Key</p>
                <form id="saveAPI" method="POST">
                    <div class="input-group">
                        <input id="key" type="text" class="form-control" value="{{ apikey }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </span>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <br>
    {% if apikey != "" %}
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <p>Enter locations</p>
            <form id="getDistance" method="POST">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Start</span>
                    <input id="start" type="text" class="form-control" name="start" aria-describedby="sizing-addon1">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Destination</span>
                    <input id="finish" type="text" class="form-control" name="finish" aria-describedby="sizing-addon1">
                </div>
                <br>
                <button class="btn btn-default" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-lg-6">
            <p id="result"></p>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $("#saveAPI").submit(function(e) {
        e.preventDefault();
        let apikey = $("#key").val();
        $.ajax({
            url: '/saveAPI/' + apikey,
            success: function(result){
                location.reload();
            }
        })
    })
    $("#getDistance").submit(function(e) {
        e.preventDefault();
        let start = $("#start").val();
        let finish = $("#finish").val();
        $.ajax({
            url: '/getDistance/' + start + '/' + finish,
            success: function(result){
                $('#result').html(result)
            }
        })
    })
})
</script>
{% endblock %}
